body {

    font-family: "Poppins", sans-serif;
    background-color: rgb(253, 255, 253);

}
.container-foto h1 {
    text-align: center;
    font-size: 90px;
    color: rgb(0, 0, 0);
    padding-top: 200px;
    font-family: "Prompt", sans-serif;
}

.container-foto img {

    width: 80px;
    border-radius: 50px;
    height: 80px;
    margin-top: 8px;
}

.foto {
    
    width: 100%;
    height: 600px;
    background-image: url(../img/im2.jpg);
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    

}
.texto-foto2 {
    position: relative;
    z-index: 5;
    width: 100%;
    height: 600px;
}

.foto2  {
    
    width: 100%;
    margin-bottom: 20px;
    height: 100%;
    background-image: url(../img/foto2.jpg);
    position: absolute;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    z-index: -1;
    opacity: 0.40;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}



.texto-foto2 p {

    
    font-weight: 400;
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
    color: rgba(0, 0, 0);
    margin-bottom: 40px;
    font-size: 15px;

}

.texto-foto2 h2 {
    font-weight: 600;
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
    
}



.texto-foto2 {

    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}



main .texto {

    padding-top: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.texto p {
    font-size: 15px;
}

.segunda-parte{
    display: flex;
    flex-direction: column;
    
}

.video-img {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    height: 300px;
    align-items: center;
    
}



.div-img img {
    width: 150px;

}




.mapa  {
    width: 100%;
    height: 300px;
    margin-top: 15px;
}




.texto p {
    
    display: flex;
    text-align: center;
    font-size: 15px;
    width: 50%;

}


.texto-foto3 {

    position: relative;
    z-index: 5;
    width: 100%;
    height: 600px;  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.foto3 {
    z-index: -1;
    height: 600px;
    width: 100%;
    background-image: url(../img/foto.jpg);
    position: absolute;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    opacity: 0.40;
    align-items: center;
}

.alert  {
    
    height: 40px;
    width: 50px;
    

}



.texto-foto3 .segundop {

    display: flex;
    text-align: center;
    color: black;
    font-weight: 500;
    width: 50%;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 15px;
 }

 .texto-foto3 p {
    width: 50%;
    display: flex;
    text-align: center;
    color: black;
    font-weight: 500;
    font-size: 16px;
 }

.cons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: black;
    font-weight: 500;
    font-size: 16px;
    margin-top: 10px;
    
    
}


nav {
    font-size: 15px;
    font-weight: 500;
}

 .cons .conscientizacao  {
    display: flex;
    border: 2px solid rgb(0, 88, 146);
    width: 50%;
    align-items: center;
    flex-direction: column;
    background-color: aqua;
    
 }

 .cons .cons-texto {

    margin-bottom: 10px;
    
 }
 

 nav img {
     width: 100px;
     height: 100px;
 }

 .abaixo {
     font-weight: 600;
 }

 .dicas {
     display: flex;
     align-items: center;
     margin-top: 20px;
     justify-content: space-between;
 }

 .dicas p {
     width: 50%;
 }
nav .icon{
    width: 13px;
    height: 13px;
 }

.dicas2 {
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: space-between;
    
}
.dicas2 p {
    width: 50%;
}




