body {

    font-family: "Poppins", sans-serif;
    background-color: rgba(2, 136, 24, 0.247);

}
.container-foto h1 {

    display: flex;
    justify-content: center;
    font-size: 100px;
    color: rgb(2, 202, 62);
    padding-top: 200px;



}

.foto {
    
    height: 600px;
    background-image: url(../img/im2.jpg);
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    

}

.foto2 {

    height: 600px;
    background-image: url(../img/foto2.jpg);
    position: relative;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

main .texto {

    padding-top: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.texto p, iframe  {

    margin-bottom: 20px;
    
}

.foto3 .mapa  {

    width: 100%;

}



.texto p {
    
    display: flex;
    text-align: center;
    font-size: 15px;

}

.foto2 p {

    font-weight: 500;
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(39, 39, 39);
    margin-bottom: 40px;

}

.foto2 h2 {
    font-weight: 600;
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
}

.foto3 {

    height: 800px;
    background-image: url(../img/foto.jpg);
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

}






