body {

    font-family: "Poppins", sans-serif;
    background-color: rgba(2, 136, 24, 0.247);

}
.container-foto h1 {
    text-align: center;
    font-size: 90px;
    color: rgb(0, 0, 0);
    padding-top: 200px;
    font-family: "Prompt", sans-serif;
}

.container-foto img {

    width: 80px;
    border-radius: 50px;
    height: 80px;
    margin-top: 8px;
}

.foto {
    
    height: 600px;
    background-image: url(../img/im2.jpg);
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    

}

.foto2 {

    height: 600px;
    background-image: url(../img/foto2.jpg);
    position: relative;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}



main .texto {

    padding-top: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.segunda-parte{
    display: flex;
    flex-direction: column;
    
}

.video-img {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    height: 300px;
    align-items: center;
    
}



.div-img img {
    width: 150px;

}




.foto3 .mapa  {
    width: 100%;

}



.texto p {
    
    display: flex;
    text-align: center;
    font-size: 15px;

}


.foto2 p {

    font-weight: 500;
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    margin-bottom: 40px;
    background-color: rgba(207, 207, 207, 0.527);
    border-radius: 15px;
    border: 0.5px solid black;

}

.foto2 h2 {
    font-weight: 600;
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
    background-color: rgba(2, 2, 2, 0.212);
    border-radius: 15px;
    border: 3px solid black;
}

.foto3 {

    height: 800px;
    background-image: url(../img/foto.jpg);
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
 .foto3 span {

    display: flex;
    text-align: center;
    color: black;
    font-weight: 500;
    background-color: rgba(255, 253, 253, 0.438);
    border-radius: 15px;
    border: 5px solid black;
 }

 .foto3 p {
    display: flex;
    text-align: center;
    color: black;
    font-weight: 500;
    background-color: rgba(255, 253, 253, 0.438);
    border-radius: 15px;
    
 }





